[project]
	description = Mirror of Apache Commons Beanutils
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Karl von Randow (karlvr)
[access "refs/for/refs/*"]
	read = group user/Karl von Randow (karlvr)
	push = group user/Karl von Randow (karlvr)
	label-Code-Review = -2..+2 group user/Karl von Randow (karlvr)
	label-Verified = -1..+1 group user/Karl von Randow (karlvr)
	rebase = group user/Karl von Randow (karlvr)
	removeReviewer = group user/Karl von Randow (karlvr)
	submit = group user/Karl von Randow (karlvr)
[access "refs/heads/*"]
	read = group user/Karl von Randow (karlvr)
	create = group user/Karl von Randow (karlvr)
	push = +force group user/Karl von Randow (karlvr)
	pushMerge = group user/Karl von Randow (karlvr)
[access "refs/tags/*"]
	push = +force group user/Karl von Randow (karlvr)
	pushTag = group user/Karl von Randow (karlvr)
	pushSignedTag = group user/Karl von Randow (karlvr)
